.bg-feature-1 {
    background-image: url(/img/helicopter/TPS00875-min.JPG);
}

.bg-feature-2 {
    background-image: url(/img/helicopter/TPS00859-min.JPG);
}

.bg-feature-3 {
    background-image: url(/img/helicopter/TPS00883-min.JPG);
}

.bg-feature {
    background-position: center;
    background-size: cover;

}

.feature-section {
    background-image: url(/img/feature-bg.png);
    background-position: center;
    background-size: cover;
}