.banner-13-cta-image {
    background-image: url(/img/helicopter/TPS00844-min.JPG);
    background-position: center;
    background-size: cover;
}

.banner-13 {
    padding: 0 !important;

}

.banner-13-text {
    padding: 60px;
}