.corporate-slide-text {
    text-align: center;
    line-height: 1.1;
}

.corporate-slide {
    position: relative;
    border-radius: 5px;
    overflow: hidden;

}


.corporate-slide img {
    transition: all 200ms ease-in;
}


.corporate-slide:hover img {
    transform: scale(1.1);
    /* transition: all 200ms ease-in; */
}



.corporate-slide-text-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(90deg, #c18e11, #d1970e, #e2a612, #f0b828);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}



@media (max-width:1200px) {
    .corporate-slide-text {
        font-size: 22px;
    }
}

@media (max-width:991px) {
    .corporate-slide-text-wrapper {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .corporate-slide-text {
        font-size: 18px;
    }
}



@media (max-width:500px) {
    .corporate-slide-text {
        font-size: 30px;
    }
}