.settings-modal {
    position: absolute;
    top: 100%; /* Position below the button */
    left: 0;
    background: #222222;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Make sure the modal is on top */
    width: 200px; /* Adjust width */
  }
  
  .settings-modal-content {
    padding: 10px;
  }
  
  .settings-modal ul {
    list-style-type: none;
    padding: 0;
  }
  
  .settings-modal ul li {
    margin: 10px 0;
  }
  
  .close-modal {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
  }